<!DOCTYPE html>
<html>
<head>
   <title>头部</title>
   <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
   <link href="__ASSETS__/css/bootstrap.min.css" rel="stylesheet">
   <script type="text/javascript" src="__ASSETS__/js/jquery.min.js"></script>
</head>
<style type="text/css">
   body{
      margin:0 10px;
   }
</style>
<body>
   <form id="menuForm" class="form-inline" role="form" action="" method="get" style="margin-top: 10px;">
     <div class="form-group">
        <label>一级菜单：</label>
        <select class="form-control" style="width: 160px;" name="menu_id" id="top_menu_id">
          {$select_str}
        </select>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="{:U('Home/Main/menu_edit', 'menu_id='.$menu_info['menu_id'])}">编辑</a> | <a onclick="if(!confirm('确定删除“{$menu_info.menu_name}”吗？')) return false;" href="{:U('Home/Action/menu', 'act=del&menu_id='.$menu_info['menu_id'])}">删除</a>
     </div>
  </form>
   <table class="table table-bordered" style="margin-top: 10px;">
      <tbody>
         <tr align="center">
            <td style="background:#B6D1DB;">菜单ID</td>
            <td style="background:#B6D1DB;">菜单名</td>
            <td style="background:#B6D1DB;">排序</td>
            <td style="background:#B6D1DB;">用户ID</td>
            <td style="background:#B6D1DB;">添加时间</td>
            <td style="background:#B6D1DB;">操作</td>
         </tr>

        <foreach name="child_menu_list" item="v" key="k">
        <tr align="center">
            <td>{$v.menu_id}</td>
            <td><a href="{:U('Home/Main/main', 'menu_id='.$v['menu_id'])}">{$v.menu_name}</a></td>
            <td><if condition="$k neq 0"><a href="{:U('Home/Action/menu', 'act=sort&menu_id='.$v['menu_id'])}"><img src="__ASSETS__/images/toTop.png"></a></if></td>  
            <td>{$v.user_id}</td>  
            <td>{$v.add_time}</td>    
            <td>
               【<a href="{:U('Home/Main/menu_edit', 'menu_id='.$v['menu_id'])}"  title="编辑">编辑</a>】

               <if condition="$v['b_delete']">
               【<a href="{:U('Home/Action/menu', 'act=del&menu_id='.$v['menu_id'])}" onclick="if(!confirm('确定删除吗？')) return false;" title="删除">删除</a>】
               </if>

               【<a href="{:U('Home/Main/article_add', 'menu_id='.$v['menu_id'])}" style="color:red;" title="添加接口">添加接口</a>】
            </td>
        </tr>
        </foreach>

        <tr align="center">
          <td colspan="6"><a href="{:U('Home/Main/menu_add', 'menu_id='.$menu_info['menu_id'])}">创建 “ {$menu_info.menu_name} ” 的子菜单</a></td>
        <tr>
      
      </tbody>
   </table>
   <br />
   <p>创建一级菜单</p>
   <form class="form-inline" role="form" action="{:U('Home/Action/menu', 'act=add')}" method="post">
      <div class="form-group">
         <label class="sr-only" for="menu_name">菜单名称</label>
         <input type="text" class="form-control" id="menu_name" name="menu_name" placeholder="请输入名称" required>
      </div>
      <div class="form-group">
         <label class="sr-only" for="sort_order">排序号</label>
         <input type="text" class="form-control" id="name" name="sort_order" placeholder="请输入排序号">
      </div>
      <input type="hidden" name="parent_id" value="0" />
      <button type="submit" class="btn btn-default">提交</button>
   </form>
   <script type="text/javascript">
     $("#top_menu_id").change(function(){
          $("#menuForm").submit();
      });
   </script>
</body>
</html>	