*{

padding:0;

margin:0 auto;

}

body{

background-color:#33FFFF;

font:"ו";

font-size:9px;

}

.a0{

width:900px;

height:1000px;

border:3px;

background-color:#FFFFFF;

}

.a21{

border:1px solid #666666;

width:180px;

height:25px;

margin:10px 0 0 10px;

}

.a22{

border:1px solid #666666;

width:180px;

height:25px;

margin:10px 0 0 10px;

}

.a210{

vertical-align:middle;

margin-top:0;

}

.a211{

border:1px solid #CCCCCC;

margin-top:4px;

width: 150px;

}

.b0{

margin-top:4px;

float:left;

}

.b01{

float:left;

}

.b1{

margin-top:4px;

float:left;

}

.b11{

float:left;

}

.a23{

margin:5px 0 0 10px;



}

.a231{

margin-top:5px;

float:left;

}

.a232{

margin-top:5px;

float:left;

}

.a24{

width:180px;

height:30px;

background-color:#FF6600;

margin-left:10px;

}

.a3{

margin:5px 0 0 10px;

}

.a31{

text-decoration:none;

}

.c0{

margin:5px;

}





